*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input input{
    margin-top: 20px ;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    width: 200px;
}

.input button {
    padding: 10px;
    background-color: lightblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}

.input button:hover{
    background-color: blue;
    transition: all 0.5s ease-in-out;
}

.weather-box {
    height: 500px;
    /* width: 300px; */
    border: 2px solid black;
    margin: 20px auto;

}

.icon{
    font-size: 50px;
    margin-bottom: 20px;
}

.weather {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.temp{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description{
    font-size: 18px;
    margin-bottom: 20px;
}